API_PORT=3001
WEB_API_BASE_URL=http://localhost:3001
BUG_DIGIT_9_DISABLED=false
BUG_DIVISION_ALWAYS_RETURNS_2=false
BUG_DOUBLE_EQUALS_SHOWS_ERROR=false
BROKER_PROVIDER=rabbitmq
RABBITMQ_URL=amqp://guest:guest@localhost:5672
MQTT_URL=mqtt://localhost:1883
ACTIVEMQ_URL=amqp://localhost:5672
